<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9cfbadfef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    
   {{> header}}
    <section class="header">
        <div class="textbox">
            <h1 class="textboxh1">About Us </h1>
            
        </div>
    
    </section>
<!----------about content---------->



<div class="one">
    <div class="two"> <h1>A common sense approach to privacy</h1>
    <p>When you put customers before profits, you end up with more of both.<br><br>
        We aren't interested in invading your privacy just to make a quick buck.<br><br> Every person should have control over their data, regardless of where they live. We didn't need laws and government regulations to tell us that; it's just the decent thing to do.
    </p>

    </div>
    <div class="two">
        <img src="/img/about 1.jpg" alt="">
    </div>

</div>

<div class="one">
    <div class="two">
        <img src="/img/about 2.jpg" alt="">
    </div>
    <div class="two"> <h1>A private company with a public vision</h1>
    <p>Since we have never taken money from investors, we have always been able to focus on what is best for the customer. Rather than worrying about short-term profits, we've had the freedom to think for the long term. <br><br>

        This kind of independence changes how we approach problem-solving, empowering us to truly think differently.<br><br>
        
        From how we build to how we hire, our unconventional approach has brought us to more than 9000 employees and 60 million users around the world.
    </p>

    </div>
    

</div>


<!----------footer---------->

{{> footer}}

</body>
</html>