<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9cfbadfef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    
    {{> header}}
   
    <section class="header">
        <div class="textbox">
            <h1 class="textboxh1">Contact Us </h1>
            
        </div>
    
    </section>
<!----------contact content---------->

<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.4396248236226!2d79.73577121413365!3d12.814843721767504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52c29e4fc6523d%3A0xa6b678ecbf463292!2sPachaiyappa&#39;s%20College%20for%20Men%2C%20Kanchipuram!5e0!3m2!1sen!2sin!4v1632581188071!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</section>

<section class="contact">
    <div class="row">
        <div class="con-col">
            <div>
                <i  class="fa fa-home"></i>
                <span>
                    <h5>
                           No. 23, Margabandhu, Motha Sandhu
                    </h5>
                 <p>Kanchipuram, TamilNadu, IN.</p>
                </span>
            </div>
            <div>
                <i  class="fa fa-phone-alt"></i>
                <span>
                    <h5>
                       +91 76394 86430
                    </h5>
                 <p>Monday to Friday, 10am to 5pm</p>
                </span>
            </div>
            <div>
                <i  class="fa fa-envelope"></i>
                <span>
                    <h5>
                       contact@velsuniversity.com
                    </h5>
                 <p>Email us your query</p>
                </span>
            </div>
        </div>
      <div class="con-col">

         <form action="">

                <input type="text" placeholder="Enter your name" required>
                <input type="email" placeholder="Enter email address" required>
                <input type="text" placeholder="Subject" required>
                <textarea rows="8" placeholder="Message" required></textarea>
                <button type="submit" class="button"> Send Message</button>

            </form>
      </div>
    </div>

</section>










<!----------footer---------->
{{> footer}}

</body>
</html>