<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/register.css">
  </head>
  <body>
    {{> header}}

    <section class="header">
      <div class="container flex">
        <div class="facebook-page flex">
          <div class="text">
            <h1>University</h1>
            <p>Connect with friends and the world </p>
            <p> around you on university</p>
          </div>
          <form action="#">
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Enter New Password" required>
            <input type="password" placeholder="Confirm New Password" required>
            <div class="link">
              <button type="submit" class="login">Save</button>
          
            </div>
            <hr>
            <div class="button">
              <a href="/log">Back to login</a>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>