<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>university</title>
    <link rel="stylesheet" href="/css/newuni.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9cfbadfef.js" crossorigin="anonymous"></script>

</head>
<body>
    
    {{> header}}
 
<section class="header">
    <div class="textbox">
        <h1 class="textboxh1"> World's Biggest University </h1>
        <p class="textboxp"> The typical modern residential university may enroll 30,000 or more students and educate both undergraduates and graduate students in the entire range of the arts and humanities, mathematics, the social sciences, the physical, biological, and earth sciences, and various fields of technology.</p>
    </div>

</section>
 
 <!----course--------------------------------------------->
 <section class="course">
    <h1>
        course we offer
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora, commodi omnis quo mollitia neque odit temporibus, perspiciatis non error debitis ullam laborum laudantium doloremque! Tenetur deserunt animi et iste!</p>

    <div class="row">
    <div class="course-col">
        <h3>Intermediate</h3>

        <p>You have passed the highschool already; but before enrolling as an undergraduate in a college, you will have to complete two more years of schooling - those two years are intermediate education.</p>
    </div>

    <div class="course-col">
        <h3>Degree</h3>

        <p>Earn a Master's degree or a Bachelor's degree from a top-ranked university at a breakthrough price. Study on your own schedule with 100% online degree.</p>
    </div>
    <div class="course-col">
        <h3>Post Graduate</h3>

        <p>Postgraduate education, as the name suggests, can be pursued by those who have completed a Bachelor’s degree at an accredited institution.</p>
    </div>
    </div>
 </section>
<!-----------------------campus---------->

<section class=" campus">
<h1>Vel's University</h1>

<p>Vel's University is a public state university located in Tamil Nadu, India. The main campus is in Chennai. The University is <br> now the affiliating authority for close to 550 engineering colleges in Tamil Nadu. </p>

<div class="row">
    <div class="campus-col">
        <img src="/img/Anna university.jpg"  alt="">
        <div class="layer">
            <h3>CHENNAI</h3>
        </div>
        
    </div>

    <div class="campus-col">
        <img src="/img/kanchipuram.jpg" alt="">
        <div class="layer">
            <h3>KANCHIPURAM</h3>
        </div>
        
    </div>
</div>

</section>

<!-------facilities---------->

<section class="facilities">
     <h1>Our Facilities</h1>

     <p>The college is situated in the heart of the city. Apart from being the Garden City, Bangalore is now the natural choice and preferred destination for students from different parts of the country to pursue professional education, be it in Engineering, Medicine or any other field.</p>

     <div class="row">
        <div class="faci-col">
            <img src="/img/game.jpg" >
            <h3>
                World Class Gaming Experience.
            </h3>
            <p>
                A great story can keep the player immersed in the world you've created. Story and gameplay are both vital for having a great game. Players should feel attached to the characters and want to continue playing to see how the story unfolds. A game can be a way to tell a story in an interactive setting.</p>
        </div>

        <div class="faci-col">
            <img src="/img/hotel.jpg" >
            <h3>
                Tasty and Healthy Food.
            </h3>
            <p>
                Food, substance consisting essentially of protein, carbohydrate, fat, and other nutrients used in the body of an organism to sustain growth and vital processes and to furnish energy. The absorption and utilization of food by the body is fundamental to nutrition and is facilitated by digestion.</p>
        </div>

        <div class="faci-col">
            <img src="/img/wifi.jpg" >
            <h3>
                24/7 Free Wi-Fi.
            </h3>
            <p>
                Be amazed by the huge number of Wiman mobile Free WiFi all over the world! Look for your travel destination and find out how many wireless hotspots you can connect to! Save your gigabytes, stay connected anywhere and improve your mobile and travel experience.</p>
        </div>
     </div>
</section>

<!----------call to action---------->
<section class="cta">
    <h1>Enroll for our various online courses <br> Anywhere form the world </h1>
    <button id="show-login">
        <a href="/admission" class="center">Registration Form </a>
    </button>
    
</section>
<!----------footer---------->

{{> footer}}


</body>
</html>