<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/css/register.css">
  </head>
  <body>
    {{> header}}

    <section class="header">
      <div class="container flex">
        <div class="facebook-page flex">
          <div class="text">
            <h1>University</h1>
            <p>Connect with friends and the world </p>
            <p> around you on university</p>
          </div>
          
          <form action="/auth/register" method="post">
          {{#if msg}}
          <p class={{type}}>{{msg}}</p>
          {{/if}}
            <input type="name" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirmP" placeholder="Confirm Password" required>
            <div class="link">
              <button type="submit" class="login">Create new account</button>
            </div>
            <hr>
            <div class="button">
              <a href="/log">Already have an account?</a>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>