<section class="footer">
    <h4>About Us</h4>

    <p>
        For a quarter of a century, we've been bucking Silicon Valley trends, taking our own approach to building products. Good software is a work of art, and good art takes time. Our teams spend years mastering their craft in order to deliver exceptional products <br> that customers love. Software isn't just our paycheck.
    </p> <br>
    <p>We believe that software is the ultimate product of the hands and the mind. And we take pride in creating products and solutions that help solve business problems, anticipate needs, and discover opportunities to help you grow.</p>
    <div class="icons">

        <i style="color: blue;" class="fab fa-facebook"></i>
        <i style="color:skyblue;" class="fab fa-twitter"></i>
        <i style="color:rgb(228, 40, 56);" class="fab fa-instagram"></i>
        <i style="color: blue;" class="fab fa-linkedin"></i>

    </div>

<p>Made by Thanigaivel  &#x1F601;</p>

</section>